{% if absent_children %}
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Grade</th>
        <th>Section</th>
        <th>Called</th>
    </tr>
    {% for child in absent_children %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{child.last_name}}, {{child.first_name}}</td>
        <td>{{child.grade}}</td>
        <td>{{child.section}}</td>
        <td><input type="checkbox"></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>No children are absent.</p>
</div>
{% endif %}
