{% extends 'base.html' %} {% load staticfiles %} {% block content %} {% include 'navbar.html' %}
<div class="container">
    {% include 'header.html' %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Schools</h2>
            <div style="text-align: right;">
                <button onclick="prep_add_modal('#add_modal_body')" data-toggle="modal" data-target="#add_modal" type="button" class="btn btn-success">Add</button>
            </div>
            <div id="schools_table">
                <table class="table table-striped">
                    <tr>
                		<th>Name</th>
                		<th>Building No.</th>
                		<th>Street</th>
                		<th>City</th>
                		<th>Zone No.</th>
                		<th>Start Time</th>
                		<th></th>
                	</tr>
                    {% for school in schools %}
                    	<tr>
                    		<td>{{school.name}}</td>
                    		<td>{{school.building_no}}</td>
                    		<td>{{school.street}}</td>
                    		<td>{{school.city}}</td>
                    		<td>{{school.zone_no}}</td>
                    		<td>{{school.start_time|time:"h:i A"}}</td>
                    		<td>
                    			<div class="btn-group" role="group" aria-label="">
                    				<button onclick="prep_show_modal('#show_modal_body', '{{school.name}}', '{{school.building_no}}', '{{school.street}}', '{{school.city}}', '{{school.zone_no}}', '{{school.start_time|time:"h:i A"}}')" data-toggle="modal" data-target="#show_modal" type="button" class="btn btn-primary">Show</button>
                    				<button onclick="prep_edit_modal('#edit_modal_body', '{{school.name}}', '{{school.building_no}}', '{{school.street}}', '{{school.city}}', '{{school.zone_no}}', '{{school.start_time|time:"h:i A"}}', '{{school.id}}')" data-toggle="modal" data-target="#edit_modal" type="button" class="btn btn-info">Edit</button>
                    				<button onclick="delete_entry('{{school.id}}')" type="button" class="btn btn-danger">Delete</button>
                    			</div>
                    		</td>
                    	</tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="show_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Show Entry</h4>
      </div>
      <div id="show_modal_body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Entry</h4>
      </div>
      <div id="edit_modal_body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save_edit()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Entry</h4>
      </div>
      <div id="add_modal_body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="add_entry()">Add Entry</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %} {% block scripts %}
<script type="text/javascript" src="{% static 'js/schools.js' %}"></script>
{% endblock %}
